@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  padding: 40px;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.image {
  overflow: hidden;
}

.content {
  align-self: flex-start;
}
.heading {
  font-family: "Space Mono", monospace;
  font-size: 4rem;
  width: 36.75rem;
  height: 190px;
  line-height: 94.78px;
  color: #333333;
  margin-bottom: 36px;
  font-weight: 700;
}

div p {
  width: 461px;
  height: 108px;
  font-family: "Space Mono", monospace;
  margin-bottom: 40px;
  font-size: 24px;
}

button {
  width: 180px;
  height: 58px;
  background: #333333;
  text-transform: uppercase;
  color: white;
  border: none;
  margin-bottom: 60px;
}

@media (max-width: 1075px) {
  .main-container {
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
  }

  .image {
    align-self: flex-start;
  }
  .heading {
    width: 350px;
    font-size: 48px;

    height: 200px;
    line-height: 70px;
  }

  img {
    width: 286.22px;
    height: 220.25px;
  }
}

footer {
  text-align: center;
  color: #bdbdbd;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
