@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*:before,
*:after {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/revolt-164_6wVEHfI-unsplash.jpg);
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position-x: 20%;
  overflow: hidden;
}
